body {
  font-family: sans-serif;
  text-align: center;
  padding: 2rem;
  background-color: #6c4577;
  color: #f3cd6e;
}

.spacer {
  height: 10vh; /* Creates vertical scroll space */
}

img.fly-in {
 /* width: 300px; */
  height: 80vh;
  transition: transform 1s ease-out, opacity 1s ease-out;
  opacity: 0;
  transform: translateY(100px);
}

img.fly-in.visible {
  opacity: 1;
  transform: translateX(0);
}

